#div0 {
    position: relative;
    width: 414px;
    height: 896px;
    background: #FFFFFF;
    display: inline-block;
}

#bar {
    position: absolute;
    Width: 414px;
    Height: 46px;
}

#time {
    position: absolute;
    width: 56px;
    height: 23px;
    left: 21px;
    top: 8px;
}

#tim {
    position: absolute;
    height: 18px;
    left: 0.33px;
    right: 1.67px;
    top: -6px;

    font-size: 15px;
    line-height: 18px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.333333px;

    color: #000000;
}

#ui {
    position: absolute;
    width: 68px;
    height: 16px;
    right: 14px;
    top: 15px;
}

#si {
    width: 17px;
    height: 10.67px;
    right: 0.33px;
    top: 0.67px;
}

#wi {
    width: 15.33px;
    height: 11px;
    Top: 1px;
    Left: 20px;
}

#bor {
    position: absolute;
    top: 2.33px;
    left: 43px;
}

#capa {
    position: absolute;
    top: 4.33px;
    left: 45px;
}

#cap {
    position: absolute;
    top: 6px;
    left: 66px;
}

#d5 {
    position: absolute;
    width: 127.13px;
    height: 127.13px;
    left: 143px;
    top: 151px;
}


#app {
    position: absolute;
    left: 27px;
    top: 44px;
}

#d2 {
    position: absolute;
    width: 330px;
    height: 52px;
    left: 45px;
    top: 381px;
}

#use {
    position: absolute;
    width: 321px;
    height: 46px;

    background: #F7F7F7;
    box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    border: none;
}

#d3 {
    position: absolute;
    width: 330px;
    height: 52px;
    left: 45px;
    top: 448px;

}

#pas {
    position: absolute;
    width: 321px;
    height: 46px;

    background: #F7F7F7;
    box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    border: none;
}

#d4 {
    position: absolute;
    width: 133px;
    height: 46px;
    left: 140px;
    top: 582px;
}

button {
    position: absolute;
    width: 133px;
    height: 46px;

    color: #FFFFFF;
    background: #323232;
    box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
}

#a1 {
    position: absolute;
    width: 110px;
    height: 15px;
    left: 253px;
    top: 529px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;

    color: #000000;
}

#p1 {
    position: absolute;
    width: 240px;
    height: 18px;
    left: 87px;
    top: 649px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */


    color: #969696;
}

#p2 {
    position: absolute;
    width: 128px;
    height: 29px;
    left: 143px;
    top: 729px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #000000;

}

#d1 {
    position: absolute;
    width: 145px;
    height: 52px;
    left: 134px;
    top: 770px;

}

#goo {
    position: absolute;
    left: 0%;
    right: 109px;
    bottom: 8px;

}

#bal {
    position: absolute;
    left: 52.5px;
    right: 53.5px;
    bottom: 6.5px;
}

#fb {
    position: absolute;
    left: 108px;
    bottom: 6px;
}

#div10 {
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    width: 414px;
    height: 896px;
    margin-left: 33px;
    background: #FFFFFF;
}

#muie {
    position: absolute;
    width: 311.05px;
    height: 239px;
    left: 51px;
    top: 142px;
}


#ink1 {
    position: absolute;
    top: 56.24px;
    left: 155.72px;
}

#ink2 {
    position: absolute;
    top: 56.24px;
    left: 158.97px;
}

#ink3 {
    position: absolute;
    top: 56.96px;
    left: 145.27px;
}

#ink4 {
    position: absolute;
    top: 70.66px;
    left: 153.92px;
}

#bol {
    position: absolute;
    width: 64px;
    height: 10px;
    top: 485px;
    left: 175px;
}

#b1 {
    left: 27px;
    position: absolute;
    width: 10px;
    height: 10px;
}

#b2 {
    position: absolute;
    width: 10px;
    height: 10px;
}

#b3 {
    right: 0;
    position: absolute;
    width: 10px;
    height: 10px;
}

#text1 {
    position: absolute;
    width: 327px;
    height: 176px;
    left: 43px;
    top: 576px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #000000;
}

#butt {
    width: 173px;
    height: 46px;
    left: 121px;
    bottom: 121px;

    background: #323232;
    box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    font-weight: bolder;
}